

body {
   background-color: rgb(207, 207, 207);
   text-align: center;
}

#header {
   text-align: center;
   background-color: rgb(177, 238, 238);
   padding-bottom: 0.1rem;
}

#desafie {
   font-size: 1.5rem;
   font-style: italic;
   margin: 0;
   padding-top: 0.3rem;
}

h1 {
   font-size: 2rem;
   text-shadow: 2px 2px rgb(241, 179, 224);
   margin: 0.3rem;
}
h2 {
   margin: 0;
   padding-bottom: 1rem;
}

#dinamica {
   min-height: 240px;
}
#jogada, #jogadas {
   font-size: 1.3rem;
   padding: 0.5rem;

}

#jogadas {
   border: solid;
   border-color:rgb(206, 248, 234);
   background-color: rgb(233, 229, 202);
}

#jogada {
   background-color: rgb(241, 179, 224);
   padding: 1rem;
}

#video {
   background-color: rgb(177, 238, 238);
   margin: 0;
}

video {
   border-radius: 60px;
   border: solid;
   border-color: rgb(241, 179, 224);
   max-height: 200px;
   margin: 5px;
}

#botoesJogo {
   background-color: rgb(101, 101, 138);
   padding: 1rem;
   display: flex;
   justify-content: space-evenly;
}

.botoes {
   background-color: black;
   color: rgb(249, 242, 242);
   font-size: 1.6rem;
   padding: 0.5rem 1.5rem 0.5rem 1.5rem;
   border-radius: 16px;
   
}

.btnImage {
   max-width: 5rem;
}
.btnImage:hover {
   background-color: brown;
   border-radius: 24px;
}

figcaption {
   font-size: 1rem;
   margin: 0;
}
.botoes:hover {
   background-color: rgb(53, 34, 98);
}

#placar {
   padding: 1rem;
   font-size: 1.5rem;
   font-style: italic;
   font-weight: 800;
}

/* #pedra {
   background-image: url("./midia/botao-pedra.png");
   background-size: cover;
}
#papel {
   background-image: url("./midia/botao-papel.png");
   background-size: cover;
}
#tesoura {
   background-image: url("./midia/botao-tesoura.png");
   background-size: cover;
} */